[submodule "public"]
	path = public
	url = git@github.com:Artenes/artenes.github.io.git
	branch = master
[submodule "themes/hugo-orbit-theme"]
	path = themes/hugo-orbit-theme
	url = git@github.com:aerohub/hugo-orbit-theme.git
	branch = master
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
